<!DOCTYPE html>
     <html lang="en">
     <head>
       <meta charset="utf-8" />
         <title>My Favorite Movies</title>
         <link rel="stylesheet" type="text/css" href="/content/movie/index.css" />
       </head>
     <body>
       <header>
         <h1>A list of my Favorite Movies</h1>
       
       </header>
         <nav>
   <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    <li><a href='http://www.emailmeform.com/builder/form/45adMwBFt3z7Ck' title='Bug Report' target='_blank'>Bug Report</a>
        </li>
   </ul>
</nav>
       @RenderBody()
       <div id=”footer”>
         <footer>
           Copyright &copy; 2011<br /> Updated: <time datetime="2011-11-11">11 November 2011</time>
            This site was built using Microsoft WebMatrix. 
           <a href="http://web.ms/webmatrix">Download it now.</a>
         </footer>
       </div>
     </body>
     </html>