<!DOCTYPE html>
     <html lang="en">
     <head>
       <meta charset="utf-8" />
         <title>My Favorite Movies</title>
         <link rel="stylesheet" type="text/css" href="/content/movie/index.css" />
       </head>
     <body>
       <header>
         <h1>A list of my Favorite Movies</h1>
       </header>
       @RenderBody()
       <div id=”footer”>
         <footer>
           This site was built using Microsoft WebMatrix. 
           <a href="http://web.ms/webmatrix">Download it now.</a>
         </footer>
       </div>
     </body>
     </html>