<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/Content/home.css" />
    </head>
    <body>
        <header>
     <h1>Using HTML 5 structure elements</h1>
</header>
        <nav>
   <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
   </ul>
</nav>
        <section>
   <hgroup>
      <h2>My Most Current Post</h2>
      <h3>I went on Vacation!</h3>
   </hgroup>                     
   <p>I was able to go on vacation. I decided to go on an adventure to explore all the old 
lighthouses along the upper east coast. It was a fun trip! </p>
   <p class="image"><img src="Lighthouse.jpg" alt="lighthouse" height="200px" /></p>
</section>
        <footer>
   Copyright &copy; 2011<br /> Updated: <time datetime="2011-11-11">11 November 2011</time>
</footer>
    </body>
</html>
