body {
font-family: Tahoma, Verdana, Geneva, sans-serif;
width: 85%;
margin: 20px auto;
}
 
header {
padding: 10px;
border-bottom: 1px solid #e5e5e5;
}
 
header h1 {
font-size: xx-large;
font-weight: normal;
padding: 0px;
margin: 0px;
}
 
#movieslist{
margin: 20px 0;
}
 
#movieslist ul {
list-style: none;
margin: 0;
padding: 0;
}
 
#movieslist li a {
font-size: large;
color: #000000;
display: block;
padding: 5px;
}
 
#movieslist li a:hover {
border-left: 10px solid #94c9d4;
padding-left: 10px;
background-color: #e7f5f8;
text-decoration: none;
}
footer {
font-size: smaller;
color: #ccc;
text-align: center;
padding: 20px 10px 10px 10px;
border-top: 1px solid #e5e5e5;
}